@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.login-header {
    position: absolute;
    width: 160px;
    height: 30px;
    left: 50%;
    transform: translateX(-50%);
    top: 254px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 750;
    font-size: 21px;
    line-height: 30px;
    /* identical to box height */


    color: #FFFFFF;
}


.input-phoneNo {
    position: absolute;
    width: 250px;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    top: 346px;
    box-sizing: border-box;
    background: #F3FBF8;
    border-radius: 25px;
    font-size: large;
    padding: 10px
}

.input-password {
    position: absolute;
    width: 250px;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    top: 406px;
    padding-left: 10px;
    box-sizing: border-box;
    background: #F3FBF8;
    border-radius: 25px;
    font-size: large;
}

.login-text {
    position: absolute;
    width: 60px;
    height: 30px;
    left: 140px;
    top: 466px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 750;
    font-size: 20px;
    line-height: 30px;

    /* identical to box height */

    color: #FFFFFF;
}

.login {
    position: absolute;
    width: 95px;
    height: 40px;
    left: 245px;
    top: 461px;

    background: linear-gradient(264.12deg, #D3FFEF 1.87%, #7EE0BD 60.67%);
    border-radius: 25px;
    justify-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
}

.img-arrow {
    position: absolute;
    left: 10px;
    top: 10px;
}

.bg-image {
    justify-items: center;
    top: 130px;
    height: 658px;
}


.container-image {
    position: absolute;
    background: #7EE0BD;
    left: 600px;
    width: fit-content;
}
.button-container {
    top:500px !important;
    padding-top: 180px;
    padding-right: 5px !important;
    
}
.button {
    cursor: pointer;
    margin-right: 9%;
    
}
.reg {
    position: absolute;
    width: 320px;
    height: 55px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 550px;
}

.reg-text {
    position: absolute;
    width: max-content;
    height: 55px;
    left: 1px;
    top: 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;
}

.reg-btn {
    position: absolute;
    width: 100px;
    height: 44px;
    right: 20px;
    top: 0px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-radius: 45%;
    cursor: pointer;
    border: none;
    background: transparent;
    color: blue;

}

.reg-btn:hover {
    font-size: large;
}

@media screen and (max-width: 992px) {
    .container-image {
        display: none;
    }

    .login-text {
        left: 40%;
        position: absolute;
        width: 60px;
        height: 30px;
        top: 486px;
    }

    .login {
        position: absolute;
        width: 95px;
        height: 40px;
        left: 53%;
        top: 481px;
    }
}

@media screen and (max-width: 600px) {
    .bg-image {
        display: none;
    }

    .login-text {
        left: 30%;
        position: absolute;
        width: 60px;
        height: 30px;
        top: 486px;
    }

    .login {
        position: absolute;
        width: 95px;
        height: 40px;
        left: 55%;
        top: 481px;
    }
}